.DS_Store
/.idea
/misquote-of-the-day/node_modules
/misquote-of-the-day/vendor
/misquote-of-the-day/src/**/*.js
/misquote-of-the-day/src/**/*.js.map
/misquote-of-the-day/public_html/dist
/misquote-of-the-day/public_html/index.html
/misquote-of-the-day/npm-debug.log
/misquote-of-the-day/webpack/target.js