<div *ngIf = "deleted === false">
	<h1>Misquote {{ misquote.misquoteId }}</h1>
	<blockquote>
		<p>{{ misquote.misquote }}</p>
		<footer>
			{{ misquote.attribution }} <cite>added by {{ misquote.submitter }}</cite>
		</footer>
	</blockquote>
	<form name="misquoteForm" id="misquoteForm" class="form-horizontal well" [formGroup]="misquoteForm" (submit)="editMisquote();" novalidate>
		<h2>Edit Misquote</h2>
		<hr />
		<div class="form-group">
			<label for="misquote">Misquote</label>
			<div class="input-group">
				<div class="input-group-addon">
					<fa-icon [icon]="faComment"></fa-icon>
				</div>
				<input type="text" name="misquote" id="misquote" class="form-control" formControlName="misquote" />
			</div>
			<div *ngIf="misquoteForm.controls.misquote?.invalid && misquoteForm.controls.misquote?.touched" class="alert alert-danger" role="alert">
				<p *ngIf="misquoteForm.controls.misquote?.errors.required">Misquote is required.</p>
				<p *ngIf="misquoteForm.controls.misquote?.errors.maxlength">Misquote is too long. You typed {{ misquoteForm.controls.misquote?.errors.maxlength.actualLength - misquoteForm.controls.misquote?.errors.maxlength.requiredLength }} too many characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label for="attribution">Attribution</label>
			<div class="input-group">
				<div class="input-group-addon">
					<fa-icon [icon]="faQuoteLeft"></fa-icon>
				</div>
				<input type="text" name="attribution" id="attribution" class="form-control" maxlength="64" formControlName="attribution" />
			</div>
			<div *ngIf="misquoteForm.controls.attribution?.invalid && misquoteForm.controls.attribution?.touched" class="alert alert-danger" role="alert">
				<p *ngIf="misquoteForm.controls.attribution?.errors.required">Attribution is required.</p>
				<p *ngIf="misquoteForm.controls.attribution?.errors.maxlength">Attribution is too long. You typed {{ misquoteForm.controls.attribution?.errors.maxlength.actualLength - misquoteForm.controls.attribution?.errors.maxlength.requiredLength }} too many characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label for="submitter">Submitter</label>
			<div class="input-group">
				<div class="input-group-addon">
					<fa-icon [icon]="faUser"></fa-icon>
				</div>
				<input type="text" name="submitter" id="submitter" class="form-control" maxlength="64" formControlName="submitter" />
			</div>
			<div *ngIf="misquoteForm.controls.submitter?.invalid && misquoteForm.controls.submitter?.touched" class="alert alert-danger" role="alert">
				<p *ngIf="misquoteForm.controls.submitter?.errors.required">Submitter is required.</p>
				<p *ngIf="misquoteForm.controls.submitter?.errors.maxlength">Submitter is too long. You typed {{ misquoteForm.controls.submitter?.errors.maxlength.actualLength - misquoteForm.controls.submitter?.errors.maxlength.requiredLength }} too many characters.</p>
			</div>
		</div>
		<button [disabled]="misquoteForm.invalid" type="submit" class="btn btn-info btn-lg"><fa-icon [icon]="faShare"></fa-icon> Misquote</button>
		<button type="reset" class="btn btn-warning btn-lg"><fa-icon [icon]="faBan"></fa-icon> Cancel</button>
		<button type="button" class="btn btn-danger btn-lg" (click)="deleteMisquote();"><fa-icon [icon]="faTrash"></fa-icon> Delete Misquote</button>
	</form>
</div>
<div *ngIf="deleted === true">
	<h1>Deleted Misquote</h1>
	<p><em>You just deleted this misquote. How dare you!</em> <a routerLink="/misquote">Go back from whence you came</a>.</p>
</div>
<div *ngIf="status !== null" class="alert alert-dismissible" [ngClass]="status.type" role="alert">
	<button type="button" class="close" aria-label="Close" (click)="status = null;"><span aria-hidden="true">&times;</span></button>
	{{ status.message }}
</div>