<form [formGroup]="misquoteForm" (submit)="createMisquote();" novalidate>
	<h2>Create Misquote</h2>
	<hr/>
	<div class="form-group">
		<label for="misquote">Misquote</label>
		<div class="input-group">
			<div class="input-group-addon">
				<i class="fa fa-comment" aria-hidden="true"></i>
			</div>
			<input type="text" name="misquote" id="misquote" formControlName="misquote" class="form-control"/>
		</div>
	</div>
	<div class="form-group">
		<label for="attribution">Attribution</label>
		<div class="input-group">
			<div class="input-group-addon">
				<i class="fa fa-quote-left" aria-hidden="true"></i>
			</div>
			<input type="text" name="attribution" id="attribution" formControlName="attribution" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="submitter">Submitter</label>
		<div class="input-group">
			<div class="input-group-addon">
				<i class="fa fa-user" aria-hidden="true"></i>
			</div>
			<input type="text" name="submitter" id="submitter" formControlName="submitter" class="form-control">
		</div>
	</div>
	<button type="submit" class="btn btn-info btn-lg"><i class="fa fa-share"></i> Misquote</button>
	<button type="reset" class="btn btn-warning btn-lg"><i class="fa fa-ban"></i> Cancel</button>
</form>

<p>Form value: {{ misquoteForm.value | json }}</p>
<p>Form status: {{ misquoteForm.status | json }}</p>

<div *ngIf="status !== null" class="alert alert-dismissible" [ngClass]="status.type" role="alert">
	<button type="button" class="close" aria-label="Close" (click)="status = null;"><span
		aria-hidden="true">&times;</span></button>
	{{ status.message }}
</div>
<hr/>
<h1>All Misquotes</h1>
<table class="table table-bordered table-responsive table-striped table-word-wrap">
	<tr>
		<th>Misquote ID</th>
		<th>Misquote</th>
		<th>Attribution</th>
		<th>Submitter</th>
		<th>Edit</th>
	</tr>
	<tr *ngFor="let misquote of misquotes">
		<td>{{ misquote.misquoteId }}</td>
		<td>{{ misquote.misquote }}</td>
		<td>{{ misquote.attribution }}</td>
		<td>{{ misquote.submitter }}</td>
		<td><a class="btn btn-warning" (click)="switchMisquote(misquote);"><i class="fa fa-pencil" aria-hidden="true"></i></a>
		</td>
	</tr>
</table>
