<div *ngIf = "deleted === false">
	<h1>Misquote {{ misquote.misquoteId }}</h1>
	<blockquote>
		<p>{{ misquote.misquote }}</p>
		<footer>
			{{ misquote.attribution }} <cite>added by {{ misquote.submitter }}</cite>
		</footer>
	</blockquote>
	<form name="misquoteForm" id="misquoteForm" class="form-horizontal well" [formGroup]="misquoteForm" (submit)="editMisquote();" novalidate>
		<h2>Edit Misquote</h2>
		<hr />
		<div class="form-group">
			<label for="misquote">Misquote</label>
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-comment" aria-hidden="true"></i>
				</div>
				<input type="text" name="misquote" id="misquote" class="form-control" formControlName="misquote" />
			</div>
		</div>
		<div class="form-group">
			<label for="attribution">Attribution</label>
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-quote-left" aria-hidden="true"></i>
				</div>
				<input type="text" name="attribution" id="attribution" class="form-control" maxlength="64" formControlName="attribution" />
			</div>
		</div>
		<div class="form-group">
			<label for="submitter">Submitter</label>
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-user" aria-hidden="true"></i>
				</div>
				<input type="text" name="submitter" id="submitter" class="form-control" maxlength="64" formControlName="submitter" />
			</div>
		</div>
		<button type="submit" class="btn btn-info btn-lg"><i class="fa fa-share"></i> Misquote</button>
		<button type="reset" class="btn btn-warning btn-lg"><i class="fa fa-ban"></i> Cancel</button>
		<button type="button" class="btn btn-danger btn-lg" (click)="deleteMisquote();"><i class="fa fa-trash"></i> Delete Misquote</button>
	</form>
</div>
<div *ngIf="deleted === true">
	<h1>Deleted Misquote</h1>
	<p><em>You just deleted this misquote. How dare you!</em> <a routerLink="/misquote">Go back from whence you came</a>.</p>
</div>
<div *ngIf="status !== null" class="alert alert-dismissible" [ngClass]="status.type" role="alert">
	<button type="button" class="close" aria-label="Close" (click)="status = null;"><span aria-hidden="true">&times;</span></button>
	{{ status.message }}
</div>
