<form [formGroup]="misquoteForm" (submit)="createMisquote();" novalidate>
	<h2>Create Misquote</h2>
	<hr/>
	<div class="form-group">
		<label for="misquote">Misquote</label>
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><fa-icon [icon]="faComment" aria-hidden="true"></fa-icon></span>
			</div>
			<input type="text" name="misquote" id="misquote" formControlName="misquote" class="form-control"/>
		</div>
		<div *ngIf="misquoteForm.controls.misquote?.invalid && misquoteForm.controls.misquote?.touched" class="alert alert-danger" role="alert">
			<p *ngIf="misquoteForm.controls.misquote?.errors.required">Misquote is required.</p>
			<p *ngIf="misquoteForm.controls.misquote?.errors.maxlength">Misquote is too long. You typed {{ misquoteForm.controls.misquote?.errors.maxlength.actualLength - misquoteForm.controls.misquote?.errors.maxlength.requiredLength }} too many characters.</p>
		</div>
	</div>
	<div class="form-group">
		<label for="attribution">Attribution</label>
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><fa-icon [icon]="faQuoteLeft" aria-hidden="true"></fa-icon></span>
			</div>
			<input type="text" name="attribution" id="attribution" formControlName="attribution" class="form-control">
		</div>
		<div *ngIf="misquoteForm.controls.attribution?.invalid && misquoteForm.controls.attribution?.touched" class="alert alert-danger" role="alert">
			<p *ngIf="misquoteForm.controls.attribution?.errors.required">Attribution is required.</p>
			<p *ngIf="misquoteForm.controls.attribution?.errors.maxlength">Attribution is too long. You typed {{ misquoteForm.controls.attribution?.errors.maxlength.actualLength - misquoteForm.controls.attribution?.errors.maxlength.requiredLength }} too many characters.</p>
		</div>
	</div>
	<div class="form-group">
		<label for="submitter">Submitter</label>
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><fa-icon [icon]="faUser" aria-hidden="true"></fa-icon></span>
			</div>
			<input type="text" name="submitter" id="submitter" formControlName="submitter" class="form-control">
		</div>
		<div *ngIf="misquoteForm.controls.submitter?.invalid && misquoteForm.controls.submitter?.touched" class="alert alert-danger" role="alert">
			<p *ngIf="misquoteForm.controls.submitter?.errors.required">Submitter is required.</p>
			<p *ngIf="misquoteForm.controls.submitter?.errors.maxlength">Submitter is too long. You typed {{ misquoteForm.controls.submitter?.errors.maxlength.actualLength - misquoteForm.controls.submitter?.errors.maxlength.requiredLength }} too many characters.</p>
		</div>
	</div>
	<button [disabled]="misquoteForm.invalid" type="submit" class="btn btn-info btn-lg"><fa-icon [icon]="faShare"></fa-icon> Misquote</button>
	<button type="reset" class="btn btn-warning btn-lg"><fa-icon [icon]="faBan"></fa-icon> Cancel</button>
</form>

<div *ngIf="status !== null" class="alert alert-dismissible" [ngClass]="status.type" role="alert">
	<button type="button" class="close" aria-label="Close" (click)="status = null;"><span
		aria-hidden="true">&times;</span></button>
	{{ status.message }}
</div>
<hr/>
<h1>All Misquotes</h1>
<table class="table table-bordered table-responsive table-striped table-word-wrap">
	<tr>
		<th>Misquote ID</th>
		<th>Misquote</th>
		<th>Attribution</th>
		<th>Submitter</th>
		<th>Edit</th>
	</tr>
	<tr *ngFor="let misquote of misquotes">
		<td>{{ misquote.misquoteId }}</td>
		<td>{{ misquote.misquote }}</td>
		<td>{{ misquote.attribution }}</td>
		<td>{{ misquote.submitter }}</td>
		<td><a class="btn btn-warning" (click)="switchMisquote(misquote);"><fa-icon [icon]="faPencilAlt" aria-hidden="true"></fa-icon></a>
		</td>
	</tr>
</table>
