<phpunit>
	<testsuites>
		<testsuite name="Misquote of the Day">
			<file>MisquoteTest.php</file>
			<file>ValidateUuidTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>